body{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

.flex-column{
 display: flex;
 flex-direction: column;
}

.flex-row{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.left-bar{
    width: 250px;
    height: 800px;
    background-color: #02021b ;
}

.button{
    color: #fff;
    margin: 10px;
}

.icon{
    margin: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    
}


.left-button{
    margin-top: 30px;
}

.header{
    background-color: #030127;
    width:1270px;
    height: 78px;
    display: flex;
    justify-content: space-between;
  
}

.container{
    display: flex;
    flex-direction: row;
}
.container-right{
    background-color: #030127;
    width: 1270px;
    height: 800px;
}
.title{
    height: auto;
}

.cards{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding: 20px;
 
  }
 
  .card{
   width: 262px;
   height: auto;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   min-width: 262px;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding: 5px;
 
  }
  
  .card-image{
   width: 100%;
   height: 191px;
  }

  .button{
    padding: 10px;
    text-decoration: none;
  }
 
  .button:hover{
    background-color: grey;
    border-radius: 10px;
  }

  .header-right{
    display: flex;
  }

 .header-right div,
.header-right a ,
.header-right input{
  margin-right: 15px; 
}

.header-right div:last-child,
.header-right a:last-child {
  margin-right: 0; 
}

.search {
  padding: 5px 10px; 
  border-radius: 15px; 
  border: 1px solid #ccc; 
  margin-right: 10px;
}

.user-select {
  margin-left: 5px; 
  padding: 3px 7px; 
  border-radius: 10px; 
  border: 1px solid #ccc; 
}

.header-icon {
  cursor: pointer; 
}